body {
  padding: 20px;
}
html {
  cursor: url("chrome-extension://bficihnlmjjnokaiocbjbpnjohgoaagj/Cursor/125cd106f4c94fe3d110fda6ed40ddbd-0.cur"), url("chrome-extension://bficihnlmjjnokaiocbjbpnjohgoaagj/Cursor/CURSOR!!!!.gif"), auto;
}
.flex {
  display: flex;
  flex-wrap: wrap;
}